.search {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
}

.tarjet {
    width: 70%;
}

.img {
    max-width: 70%;
    max-height: 70%;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
}