.formu_admin {
    display: flex;
    justify-content: right;
    width: 100%;
}

.formu_admin-uno {
    margin-right: 1%;
    width: 30%;
}


/* .container { */


/* display: flex; */


/* gap: 50px;
    gap: 50px 20px; */


/* row-gap column gap */


/* row-gap: 50px;
    column-gap: 20px; */